* {
    padding: 0;
    margin: 0;
 

}


body {

   background: rgb(255, 255, 255);
}

// NAVBAR

nav {
 background-color: rgb(255, 74, 19);
}

.navbar-brand {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.collapse  a {
   color: rgb(255, 255, 255);
    font-size: 22px;
    margin: auto 10px; 
}

.collapse a:hover {
  color: rgb(104, 41, 22);
}

  .nav-item :active {
    color: blue;
    text-decoration: none;
  }


  


// MAIN CONTENT

$main-padding-top: 80px;
$main-padding-bottom: 80px;

main {
  padding-top: $main-padding-top;
  padding-bottom: $main-padding-bottom;

  
  h1 {
    
    font-weight: 900;
    color:rgb(255, 74, 19);
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
  }
}

.nav-item :active {

  color: blue;
    text-decoration: none;

}

// COLUMNS

#hero {
  .col-8 {
  
  
  justify-content: center;
  flex-direction: column;
  display: flex;

}
 .img-col-4 {
 max-width: 80%;
 height: auto; }

}

footer {

  display:flex;
  justify-content: center;
}


// MEDIA QUERIES

@media (max-width: 767px) {
  .col-sm-8  {
    order: 1;

    
  }

  .col-sm-4 {
    order: 2;
  }

  .mt-5 h1 {
    justify-content: center;
    display: flex;
    font-size: 40px;
    padding-bottom: 30px;
  }

  p {
    text-align: center;
    
    display: flex;
  }
}